<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="styles.css">-->

</head>
<body>

<div class="resume_wrapper">
	<div class="resume_left">
		<div class="resume_image">
			<img src="assets/img/photo.JPG" alt="Resume_image">
		</div>
		<div class="resume_bottom">
			<div class="resume_item resume_namerole">
				<div class="name">Md Sakib Hassan</div>
			</div>
			<div class="resume_item resume_profile">
				<div class="resume_title">Objective</div>
				<div class="resume_info">To secure a position where I can efficiently contribute my skills and abilities to the growth of the organization and build
my professional career.</div>
			</div>
			<div class="resume_item resume_address">
				<div class="resume_title">Address</div>
				<div class="resume_info">
					154 Lake Circus (Abed Dhali Road) ,Kalabagan,Dhaka
					
				</div>
			</div>
      
			<div class="resume_item resume_contact">
				<div class="resume_title">Contact</div>
				<div class="resume_info">
					<div class="resume_subtitle">Cell</div>
					<div class="resume_subinfo">01749477740</div>
				</div>
				<div class="resume_info">
					<div class="resume_subtitle">Email</div>
					<div class="resume_subinfo">mdsakibhassan548@gmail.com</div>
				</div>
				<div class="resume_info">
					<div class="resume_subtitle">github</div>
					<div class="resume_subinfo">https://github.com/Sakib548/Resume</div>
				</div>
			</div>
			<div class="resume_item resume_skills">
				<div class="resume_title">Skills</div>
				<div class="resume_info">
					<div class="skills_list">
						<div class="skills_left">C</div>
						<div class="skills_bar">
							<p>
								<span style="width: 70%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">C++</div>
						<div class="skills_bar">
							<p>
								<span style="width: 65%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">Java</div>
						<div class="skills_bar">
							<p>
								<span style="width: 70%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">HTML</div>
						<div class="skills_bar">
							<p>
								<span style="width: 90%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">CSS</div>
						<div class="skills_bar">
							<p>
								<span style="width: 80%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">Javascript</div>
						<div class="skills_bar">
							<p>
								<span style="width: 50%"></span>
							</p>
						</div>
					</div>
					<div class="skills_list">
						<div class="skills_left">Angular</div>
						<div class="skills_bar">
							<p>
								<span style="width: 45%"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="resume_right">
		<div class="resume_item resume_namerole">
			<div class="name">Md Sakib Hassan</div>
			
		</div>
		<div class="resume_item resume_education">
			<div class="resume_title">Education</div>
			<div class="resume_info">
				<div class="resume_data">
					<div class="year">2022</div>
					<div class="content">
						<p><strong>M.Sc. in Computer Science</strong></p>
						<p>Jahangirnagar University</p>
						<p> Computer Science and Engineering</p>
						<p>CGPA: Continue</p>
					</div>
				</div>
				<div class="resume_data">
					<div class="year">2017</div>
					<div class="content">
						<p><strong>B.Sc. in CSE</strong></p>
						<p>United International University, Dhaka</p>
						<p>CGPA 2.99 out of 4</p>

					</div>
				</div>
				<div class="resume_data">
					<div class="year">2011</div>
					<div class="content">
						<p><strong>H.S.C</strong></p>
						<p>National Ideal College, Khilgaon</p>
						<p>Science</p>
						<p>GPA 5.00</p>

					</div>
				</div>
				<div class="resume_data">
					<div class="year">2009</div>
					<div class="content">
						<p><strong>S.S.C</strong></p>
						<p>Ideal School and College,Motijheel, Dhaka-1000</p>
						<p>Science</p>
						<p>GPA 5.00</p>

					</div>
				</div>
			</div>
		</div>
		<div class="resume_item resume_experience">
			<div class="resume_title">Participated Training Program</div>
			<div class="resume_info">
				<div class="resume_data">
					<div class="year">Program</div>
					<div class="content">
						<p>Laravel PHP Framework (1st Batch)</p>
						<p>Center for Development of It Professionals –
              CDIP
              United International University, Dhaka</p>
              
            <p>Duration:    Four Months</p>
					</div>
				</div>
        <div class="resume_data">
					<div class="year">Program</div>
					<div class="content">
						<p>(CCNA –R&S)</p>
						<p>IT Expert BD</p>
              
            <p>Duration:    Four Months</p>
					</div>
				</div>
				
			</div>
      
		</div>
    <div class="resume_item resume_experience">
			<div class="resume_title">References</div>
			<div class="resume_info">
				<div class="resume_data">
					<div class="year">Name</div>
					<div class="content">
						<p>Suman Ahmmed</p>
						<p>Designation: Assistant Professor &
              Director CDIP & CESR.</p>
              
            <p>Organization: United International University
              Department. of CSE</p>
             <p>Contact No : 01765049901</p> 
					</div>
				</div>
        <div class="resume_data">
					<div class="year">Name</div>
					<div class="content">
						<p>Md. Julhas Uddin</p>
						<p>Designation: General Manager
              Monetary Policy Department.</p>
              
            <p>Organization: Bangladesh Bank</p>
             <p>Contact No: 01713279588</p> 
					</div>
				</div>
				
			</div>
      
		</div>
		<div class="resume_item resmue_interests">
			<div class="resume_title">Interests</div>
			<div class="resume_info">
				
				<div class="interests">
					<div class="int_icon">
            <i class="fa fa-book"></i>
          </div>
					<div class="int_data">Reading</div>
				</div>
				<div class="interests">
					<div class="int_icon">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="int_data">Computing</div>
				</div>

        <div class="interests">
					<div class="int_icon">
						<i class="fa fa-football-ball"></i>
					</div>
					<div class="int_data"></div>

				</div>
			
			</div>
		</div>
	</div>
</div>
</body>
</html>